<% if @comment -%>
<% if @preview -%><div id='preview'><% end %>
<div class='<% if @preview %>previewHeader<% else %>commentHeader<% end %>'>On
<%= @comment.created_on.strftime('%Y-%m-%d at %H:%M') %>,
<% author = User.find_by_id(@comment.user_id) %>
<b><%=h2 author.name %></b>&nbsp;<%= link_to image_tag('/images/info.gif', :class => 'info', :alt => '(info)', :width => '9', :height => '9'), :controller => 'user', :action => 'info', :id => author.id, :back_to => params[:controller], :ret_gid => params[:gid] %> <% if @preview %>considered saying<% else %>said<% end %>:</div>
<%=xssize @comment.comment %>
<br/><br/>
<% if @preview %></div><% end -%>
<script type='text/javascript'>scrollToBottom();</script>
<% end -%>
