<h2>Twixt Commentator</h2>
A forum to view, comment on, and read other people's comments on finished Twixt games from
<a href="http://littlegolem.net">Little Golem</a>. Enjoy!
<p>
<% form_tag :controller => 'game', :action => 'index' do %>
View Little Golem Twixt Game:
<%= text_field_tag :new_gid, '', :size => 7, :maxlength => 7, :class => 'boxed' %>
<%= submit_tag 'Go' %>
<% end %>
<h3>Commented Games</h3>
<table cellspacing='0' class='main'>
  <thead><tr>
    <th class='main'>Game #</th>
    <th class='main'>Winner</th>
    <th class='main'>Loser</th>
    <th class='main'>End</th>
    <th class='main'>Tournament</th>
    <th class='main'>Last Comment</th>
    <th class='main'>Author</th>
  </tr></thead>
  <tbody>
  <% for game in @commented_games -%>
    <tr class='<%= cycle("even", "odd") -%>'>
      <td class='main'><%= link_to game.lg_game_num, :controller => 'game', :gid => game.lg_game_num, :main_page => params[:page] %></td>
      <td class='main'<% if game.is_draw then %> style='font-style: italic;'<% end %>><%=h2 game.winner_name %></td>
           <td class='main'<% if game.is_draw then %> style='font-style: italic;'<% end %>><%=h2 game.loser_name %></td>
      <td class='main' style='text-align: center;<% if !game.is_resignation then %> font-weight: bold;<% end %>'><%= game.result %></td>
      <td class='main'><%= (game.tournament.blank?)? '&nbsp;': game.tournament %></td>
      <td class='main' style='text-align: center;'><%= game.last_commented_on.strftime('%Y-%m-%d %H:%M') %></td>
      <% author = User.find_by_id(game.last_commented_by) %>
      <td class='main'><%=h2 author.name %>&nbsp;<%= link_to image_tag('/images/info.gif', :class => 'info', :alt => '(info)', :width => '9', :height => '9'), :controller => 'user', :action => 'info', :id => author.id, :back_to => params[:controller], :main_page => params[:page] %></td>
    </tr>
  <% end -%>
  </tbody>
</table>
Page: <%= pagination_links %>
