<% if !session[:user_id] %>
  <div class='loginBox'>
    <% form_tag :controller => :user, :action => :login, :ret_gid => params[:gid], :back_to => params[:controller], :main_page => params[:page] do %>
      <table>
        <tr><td>
          <div class='boxed'>
            <table>
              <tr><td>
                <label for='name'>Name:</label>
              </td><td>
                <%= text_field_tag :name, params[:name], :class => 'boxed' %>
              </td><td></td></tr>
      
              <tr><td>
                <label for='password'>Password:</label>
              </td><td>
                <%= password_field_tag :password, params[:password], :class => 'boxed' %>
              </td>
              <td>
              <%= submit_tag 'Log in' %>
              </td></tr>
            </table>
            <% if !!flash[:login_notice] %>
              &nbsp;<span class='err'><%= flash[:login_notice] %></span>
            <% end %>
          </div>
        </td><td>
          <div class='pleaseRegister'>
            <%= link_to 'Register', {:controller => :user, :action => :add_user, :back_to => params[:controller], :ret_gid => params[:gid], :main_page => params[:page]} %><br/>
            to add<br/>comments.
          </div>
        </td></tr>
      </table>
    <% end %>
  </div>
<% else %>
  <div class='loginBox'>
    <% current_user = User.find_by_id(session[:user_id]) %>
    Welcome, <b><%=h2 current_user.name %></b>&nbsp;<%= link_to image_tag('/images/info.gif', :class => 'info', :alt => '(info)', :width => '9', :height => '9'), :controller => 'user', :action => 'info', :id => current_user.id, :back_to => params[:controller], :ret_gid => params[:gid], :main_page => params[:page] %><br/>
    <%= link_to 'Profile', :controller => :user, :action => :profile, :id => session[:user_id], :ret_gid => params[:gid], :back_to => params[:controller], :main_page => params[:page] %> |
    <%= link_to 'Log out', :controller => :user, :action => :logout, :ret_gid => params[:gid], 
    :back_to => params[:controller], :main_page => params[:page] %>
  </div>
<% end %>
