<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Twixt Commentator Registration</title>
  <%= stylesheet_link_tag 'twixt', :media => 'all' %>
  <%= javascript_include_tag 'prototype.js' %>
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <script type='text/javascript'>
    Event.observe(window, 'load', function() { 
      var user_name_field = $('user_name'); 
      if (user_name_field != null) {
        user_name_field.focus();
      }
    });
  </script>
</head>
<body>
  <p class='err'><%= flash[:error] %></p>
  <%= yield :layout %>
</body>
</html>