<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Twixt Commentator</title>
  <%= stylesheet_link_tag 'twixt', :media => 'all' %>
  <%= javascript_include_tag 'prototype.js' %>
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <script type='text/javascript'>
    Event.observe(window, 'load', function() { $('new_gid').focus(); });
  </script>
</head>
<body>
  <p class='err'><%= flash[:error] %></p>
  <%= render :partial => 'layouts/loginbox' %>
  <%= yield :layout %>
</body>
</html>